* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "MuseoSansCyrl", sans-serif;
    color: #333;
}

a {
    color: #6933DC;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/MuseoSansCyrl-500.ttf");
}
@font-face {
    font-family: "MuseoSansCyrl-bold";
    src: url("../fonts/MuseoSansCyrl700.ttf");
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    color: #FFF;
    font-size: 17px;
    padding: 14px 35px;
    border-radius: 6px;
    background: #6933DC;
    border: 0;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
}




a.btn {
    display: inline-block;
}
.btn:hover {
    background: #28037c;
}

.btn:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}


.footer {
    text-align: center;
    padding: 40px 0;
    color: #DCDCF3;
    font-size: 13px;
}
.common-title {
    font-family: "MuseoSansCyrl-bold", sans-serif;
    font-size: 48px;
}
.common-title span {
    color: #6933DC;
}

.btn-transparent {
    background: transparent;
    color: #6933DC;
    border-radius: 6px;
    border: 1px solid #6933DC;
}

.btn-transparent:hover {
    background: #6933DC;
    color: #fff;

}

.btn-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border-radius: 6px;
    border: 1px solid #e2dfe7;
    cursor: not-allowed;
}

.big-title {
    font-family: "MuseoSansCyrl-bold", sans-serif;
    font-size: 54px;
}

.big-title span {
    color: #6933DC;
}
